# Dependencies
node_modules/
.pnp/
.pnp.js

# Testing
coverage/

# Production
build/
dist/
out/
frontend/.astro/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
bun-debug.log*

# IDE
.idea/
frontend/.vscode/
backend/.vscode/
*.swp
*.swo

# Logs
logs/
*.log

# Cache
.cache/
.next/
.nuxt/
.temp/

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/
out/

# TypeScript
*.tsbuildinfo 