<nav>
  <ul class="flex justify-end gap-3 py-3 font-system-ui">
    <li class="hover:scale-105 transition-transform">
      <a
        class="px-2 py-1 bg-sky-500 hover:bg-sky-400 rounded-2xl font-semibold"
        href="/">Home</a
      >
    </li>
    <li class="hover:scale-105 transition-transform">
      <a
        class="px-2 py-1 bg-sky-500 hover:bg-sky-400 rounded-2xl font-semibold"
        href="https://github.com/elm3ntalista">GitHub</a
      >
    </li>
  </ul>
</nav>
