@import 'tailwindcss';

:root {
  color-scheme: dark;
  color: #fff;
  background-color: #000;
}

@theme {
  --font-segoe:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --color-primary: var(--color-sky-500);
  --color-secondary: var(--color-slate-300);
  --color-tertiary: var(--color-gray-600);
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #000;
}

@utility invert-special {
  filter: invert(1) contrast(100);
}