<footer class="p-10 mt-10 bg-stone-900 text-center">
  <p class="leading-8">
    <i>Sitio <b>desarrollado</b> por</i>
    <a
      class="relative z-10 px-1"
      href="https://github.com/elm3ntalista"
      target="_blank"
    >
      <span
        class="peer inline-block -rotate-3 hover:-rotate-0 hover:text-shadow-xs text-shadow-black font-semibold transition-transform duration-300"
        >Wander Marte</span
      >
      <span
        class="absolute -z-10 -left-0.5 -top-1 inline-block w-full h-full py-4 pr-8 bg-sky-500 rounded-sm -rotate-5 peer-hover:-rotate-0 peer-hover:bg-sky-400 peer-hover:shadow-lg shadow-black transition-transform duration-500"
      ></span>
    </a>
  </p>
</footer>
