<nav class="py-2 font-system-ui">
  <ul class="flex justify-end gap-3">
    <li><a class="px-2 py-1 bg-sky-500 rounded-2xl" href="/">Home</a></li>
    <li>
      <a
        class="px-2 py-1 bg-sky-500 rounded-2xl"
        href="https://github.com/elm3ntalista">GitHub</a
      >
    </li>
  </ul>
</nav>
