---
interface Props {
  pageNumber: number;
}
const { pageNumber }: Props = Astro.props;
---

<article>
  <ul
    id="pagination"
    class="max-w-2xl mx-auto flex justify-center gap-2 overflow-hidden"
  >
    <li
      id="previous-button"
      class="w-12 flex justify-center items-center bg-secondary rounded-full cursor-pointer hover:bg-primary transition-all duration-200 overflow-hidden"
    >
      <img
        class="p-3 hover:invert-special"
        src="/chevron_left.svg"
        alt="Flecha izquierda"
      />
    </li>
    <li
      class="flex gap-2 bg-slate-300 rounded-2xl text-tertiary overflow-hidden"
    >
      {
        Array.from({ length: 10 }, (_, i) => i + 1).map((pageID) => {
          return (
            <a
              class:list={[
                "page-number px-4 py-2 rounded-lg font-semibold hover:text-sky-500 transition-all duration-200 hover:shadow-sky-500 hover:shadow-sm",
                pageNumber === pageID ? "page-selected" : "",
              ]}
              href={`/${pageID}`}
              item-id={pageID}
            >
              {pageID}
            </a>
          );
        })
      }
    </li>
    <li
      id="next-button"
      class="w-12 flex justify-center items-center bg-secondary rounded-full cursor-pointer hover:bg-primary transition-all duration-200 overflow-hidden"
    >
      <img
        class="p-3 hover:invert-special"
        src="/chevron_right.svg"
        alt="Flecha izquierda"
      />
    </li>
  </ul>
</article>

<style>
  .page-selected {
    color: #fff;
    background-color: var(--color-primary);
    box-shadow: 0 0 7px var(--color-primary);
  }
</style>

<script>
  const pagination = document.getElementById("pagination")!;
  const nextButton = document.getElementById("next-button")!;
  const previousButton = document.getElementById("previous-button")!;
  let pageNumber: number | null = Number(
    document.querySelector(".page-selected")!.getAttribute("item-id"),
  );

  pagination.addEventListener("click", (e) => {
    const target: HTMLAnchorElement | null = e.target as HTMLAnchorElement;
    if (target?.classList.contains("page-number")) {
      pagination
        .querySelectorAll(".page-selected")
        .forEach((el) => el.classList.remove("page-selected"));
      target.classList.add("page-selected");
      Number(target.getAttribute("item-id"));
    }
  });

  previousButton.addEventListener("click", () => {
    console.log(pageNumber);
    if (pageNumber > 1) window.location.href = `/${(pageNumber ?? 2) - 1}`;
  });

  nextButton.addEventListener("click", () => {
    console.log(pageNumber);
    if (pageNumber < 100) window.location.href = `/${(pageNumber ?? 2) + 1}`;
  });
</script>
