---
// No necesitamos props para este componente
---

<div class="w-full sm:max-w-sm flex flex-col sm:flex-row gap-2">
  <select
    id="filter"
    name="filter"
    class="bg-sky-500 px-4 py-2 rounded-lg cursor-pointer"
  >
    <option value="todos">Todos</option>
    <option value="Vivo">Vivo</option>
    <option value="Muerto">Muerto</option>
    <option value="Masculino">Masculino</option>
    <option value="Femenino">Femenino</option>
    <option value="Clan">Clan</option>
    <option value="Edad">Edad</option>
  </select>
  <input
    id="searchInput"
    type="text"
    name="search"
    class="w-full bg-gray-500 rounded-lg px-4 py-2 text-white"
    placeholder="Buscar personajes"
  />
  <button
    id="apply-filter"
    type="button"
    class="bg-sky-500 px-4 py-2 rounded-lg cursor-pointer"
  >
    Buscar
  </button>
</div>
