<search-bar class="w-full sm:max-w-sm flex flex-col sm:flex-row gap-2">
  <select name="filter" class="bg-sky-500 px-4 py-2 rounded-lg">
    <option value="all">Todos</option>
    <option value="male">Hombres</option>
    <option value="female">Mujeres</option>
    <option value="clan">Clanes</option>
    <option value="age">Edades</option>
  </select>
  <input
    type="text"
    class="w-full bg-gray-500 rounded-lg px-4 py-2 text-white"
    placeholder="Buscar personajes"
  />
</search-bar>
